a {
    color:white !;
    padding: 5px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.btn{
    background: green;
    color: white;
    padding: 5px;
   margin: 10px;
   left:15px;

}

.navbar { 
    padding-top: 10px;
    padding: 5px;
    background: black;
    color: white;
  display: flex;

}